#greycol {
    color: grey;
}

.yellow{
    color: yellow;
}

h3:first-child {
    color: pink;
}

div p:nth-child(1) {
    color: red;
}

/* .text-box div p {
    color: red;
} */


p:nth-child(odd) {
    color: green;
}